#predefined {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 392px;
}

#custom_fa {
  margin-top: 20px;
  padding: 4px;
  width: 380px;
}

#custom_fa_button {
  margin-top: 8px;
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 380px;
  height: 30px;
}

.fa {
  padding: 20px;
  width: 18px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
}

.fa-google {
  background: #DD4B39;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #BB0000;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-tumblr {
  background: #2C4762;
  color: white;
}

.fa-reddit {
  background: #FF5700;
  color: white;
}

.fa-linkedin {
  background: #007BB5;
  color: white;
}

.fa-pinterest {
  background: #CB2027;
  color: white;
}

.fa-dribbble {
  background: #EA4C89;
  color: white;
}

.fa-vimeo {
  background: #45BBFF;
  color: white;
}

.fa-flickr {
  background: #F40083;
  color: white;
}